/Animation.anim.meta
/BC.meta
/ChatGPT_Image_Jun_15__2025__09_30_13_PM-removebg-preview.controller.meta
/cs.meta
/Img.meta
/New Animation.anim.meta
/player.controller.meta
/Scenes.meta
/Sheet.meta
/TextMesh Pro.meta
/Tille.meta
/TiTl.meta